@model AiConnect.Models.Cliente

@{
    ViewData["Title"] = "Excluir Cliente";
}

<h1 style="color:#882414">Excluir Cliente</h1>

<h3>Você tem certeza que deseja excluir este cliente?</h3>
<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Nome)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Telefone)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Telefone)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DataNascimento)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DataNascimento)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Endereco)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Endereco)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Empresa)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Empresa)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SegmentoMercado)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SegmentoMercado)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Interesses)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Interesses)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Excluir" class="btn btn-danger" /> |
        <a asp-action="Index">Voltar</a>
    </form>
</div>
