@model AiConnect.Models.Lead

@{
    ViewData["Title"] = "Excluir Lead";
}

<h1 style="color:#882414">Excluir Lead</h1>

<h3>Você tem certeza que deseja excluir este lead?</h3>
<div>
    <h4>Lead</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Nome)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Telefone)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Telefone)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Cargo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Cargo)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Empresa)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Empresa)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Cliente.Nome)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Cliente.Nome)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Excluir" class="btn btn-danger" /> |
        <a asp-action="Index">Voltar</a>
    </form>
</div>

